<!-- LAYOUT ALIGNMENT  -->
<div class="layout">
  <div class="layout__item u-1/4">Layout Item 1</div>
  <div class="layout__item u-1/4">Layout Item 2. <br> More text to show functionality.</div>
  <div class="layout__item u-1/4">Layout Item 3</div>
</div>

<div class="layout layout--center">
  <div class="layout__item u-1/4">Layout Item 1</div>
  <div class="layout__item u-1/4">Layout Item 2. <br> More text to show functionality.</div>
  <div class="layout__item u-1/4">Layout Item 3</div>
</div>

<div class="layout layout--right">
  <div class="layout__item u-1/4">Layout Item 1</div>
  <div class="layout__item u-1/4">Layout Item 2. <br> More text to show functionality.</div>
  <div class="layout__item u-1/4">Layout Item 3</div>
</div>


<!--
These classes go directly on the `flex` container. The classes on
its children don't change, making it easy to change layouts.

Note: the `#demo1` ID is just for the demo and can be removed.
-->
<div id="demo1" class="flex flex--col flex--left flex--top">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>