<div class="flex flex--wrap">
  <div class="u-1/4-desk u-1/4-lap u-1/4-palm"></div>
  <div class="u-1/2-desk u-1/2-lap u-1/2-palm text-align-left">
    <span class="epsilon value">Search Data</span>
  </div>
  <div class="u-1/4-desk u-1/4-lap u-1/4-palm"></div>
</div>
<div class="flex flex--wrap">
    <div class="u-1/4-desk u-1/4-lap u-1/4-palm"></div>
    <div class="u-1/2-desk u-1/2-lap u-1/2-palm">
      <input type="text" class="form-control" id="search" [(ngModel)]="search" name="search" placeholder="Search" (ngModelChange)="filterMode()">
    </div>
    <div class="u-1/4-desk u-1/4-lap u-1/4-palm"></div>
  </div>
