<my-shared-spinner *ngIf="showSpinner" [showSpinner]="showSpinner"></my-shared-spinner>
<div *ngIf="!showSpinner">
  <h2>My Heroes</h2>
  <div class="row row justify-content-left" colspan="6">
    <div class="col col-md-3 col-md-3 u-lap-and-up-m">
      <div class="card mb-3 card mb-3 scroll-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <span class="hero-element">
              <span class="badge">{{hero.id}}</span> {{hero.name}}
            </span>
            <button class="delete-button" (click)="deleteHero(hero, $event)">Delete</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col col-md-3 col-md-3" colspan="6">
      <div class="card mb-3u-lap-and-up-m">
        <div class="error" *ngIf="error">{{error}}</div>
        <my-hero-detail [addingHero]="addingHero" (saveRecord)="saveRecord($event)" (close)="close($event)"></my-hero-detail>
      </div>
    </div>
    <h4>ngFor Features</h4>
    <div class="col col-md-3 col-md-3 u-lap-and-up-m card mb-3 card mb-3 scroll-body" colspan="6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <span>INDEX </span>
            </th>
            <th>
              <span>HERO </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroes; let ix = index;">
            <td>{{ix +1}}</td>
            <td>{{hero.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>