<h2>My Heroes</h2>

<!-- <div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div> -->

<div *ngIf="!isDataloading">
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="hero-element">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </span>
    <button class="delete-button" (click)="deleteHero(hero, $event)">Delete</button>
  </li>
</ul>
<div *ngIf="addingHero">
  <div class="error" *ngIf="error">{{error}}</div>
  <my-hero-detail (saveRecord)="saveRecord($event)" (close)="close($event)"></my-hero-detail>
</div>
<button [ngClass]= "{'hidden':addingHero}"  (click)="addHero()">Add New Hero</button>
<div [ngClass]="{'hidden':!addingHero}">
  <h4>ngFor Features</h4>
  <button (click)="showNgFor=!showNgFor">{{showNgFor ? 'Hide' : 'Show'}} ngFor Features</button>
  <table [class.hidden]="!showNgFor">
    <tbody>
      <tr *ngFor="let hero of heroes; let ix = index; let c = count; let e = even; let o = odd; let f = first; let l = last">
        <td>{{hero.name}}</td>
        <td>{{ix}}</td>
        <td>{{c}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
