.table-bordered,
th,
td {
  border: 1px solid #ddd !important;
}

.table-bordered{
  width: 100%
}

.searchBtn{
  position: relative;
  left: 31vw;
}

.hide-element{
  visibility: hidden;
}

.col-sm{
  padding-left: 0 !important;
}

.styled-select{
  width: 25% !important;
  height: 34px !important;
  padding: 0 0;
}



